$purple: #9626f9;
$blue: #2e7cdf;

// All pages

html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1.15;
    font-family: 'Poppins', sans-serif;
    background-color: white;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 2rem 10rem;
    .logo {
        text-decoration: none;
        font-weight: bold;
        font-size: 2rem;
        background-image: linear-gradient(45deg, $purple, $blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    nav {
        a {
            text-decoration: none;
            color: $purple;
            margin: 0 1rem;
            font-size: 1rem;
        }
        button {
            background-image: linear-gradient(to right, $purple 0%, $blue  51%, $purple  100%);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            border: none;   
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;     
            &:hover {
                background-position: right center; /* change the direction of the change here */
                color: #fff;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
    background-image: linear-gradient(45deg, $purple, $blue);
    h5 {
        margin: 0.5rem 0;
        padding: 0;
        font-size: 1.5rem;
        color: white;
        font-weight: bold;
    }
    p {
        margin: 0;
        padding: 0;
        font-size: 1rem;
        color: white;
    }
}

// Index page

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    .col_1 {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 1rem;
        h1 {
            margin: 0;
            padding: 0;
            font-size: 6rem;
            background-image: linear-gradient(45deg, $purple, $blue);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        p {
            margin: 1rem 0 2rem 0;
            padding: 0;
            font-size: 1.5rem;
            color: $blue;
            font-weight: bold;
        }
        button {
            background-image: linear-gradient(to right, $purple 0%, $blue  51%, $purple  100%);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            border: none;   
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;     
            &:hover {
                background-position: right center; /* change the direction of the change here */
                color: #fff;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
    .col_2 {
        width: 50%;
        margin: 0 1rem;
        img {
            width: 100%;
            transform: scale(0.9);
        }
    }
}


.h2_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 12rem;
    padding-top: 3rem;
    h2 {
        margin: 0;
        padding: 0;
        font-size: 3rem;
        background-image: linear-gradient(45deg, $purple, $blue);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p {
        margin: 1rem 0 2rem 0;
        padding: 0;
        font-size: 1.25rem;
        color: $purple;
    }
}


.featured_projects {
    .featured_project_1 {
        background-image: url('./Banner_1.jpg');
    }
    .featured_project_2 {
        background-image: url('./Banner_2.jpg');
    }
    .featured_project_3 {
        background-image: url('./Banner_3.jpg');
    }
    .featured_project_4 {
        background-image: url('./Banner_4.jpg');
    }
    .featured_project {
        height: 20rem;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-bottom: solid 2px white;
        .text {
            width: 80%;
            margin: 0 1rem;
            h3 {
                padding: 0;
                font-size: 2rem;
                color: white;
                margin-bottom: 1rem;
            }
            p {
                margin-top: 0;
                margin-bottom: 1rem;
                padding: 0;
                font-size: 1.25rem;
                color: white;
            }
        }
        .button {
            width: 20%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            margin: 0 1rem 1rem 0;
            button {
                background-image: linear-gradient(to right, $purple 0%, $blue  51%, $purple  100%);
                padding: 15px 45px;
                text-align: center;
                transition: 0.5s;
                background-size: 200% auto;
                color: white;            
                // box-shadow: 0 0 20px #eee;
                border-radius: 10px;
                border: none;   
                font-family: 'Poppins', sans-serif;
                font-size: 1rem;     
                &:hover {
                    background-position: right center; /* change the direction of the change here */
                    color: #fff;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
}

.button_container {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5rem;
    .text {
        margin-bottom: 0;
        p {
            font-size: 1.5rem;
            color: $blue;
            font-weight: bold;
        }
    }
    .buttons {
        display: flex;
        flex-direction: center;
        justify-content: center;
        margin-top: 0;
        button {
            background-image: linear-gradient(to right, $purple 0%, $blue  51%, $purple  100%);
            margin: 10px;
            height: 3rem;
            width: 12rem;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            border: none;   
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;     
            &:hover {
                background-position: right center; /* change the direction of the change here */
                color: #fff;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}

// View page

.all_projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 2rem 10rem 4rem;
    .each_project {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: baseline;
        border: 0.1rem solid $purple;
        border-radius: 5%;
        background-color: white;
        padding: 1rem;
        height: max-content;
        img {
            width: 100%;
            height: 12rem;
            object-fit: cover;
        }
        h3 {
            color: $blue;
            font-size: 1.5rem;
            font-weight: bold;
            margin: 2rem 0 1rem 0;
            height: fit-content;
            overflow: hidden;
        }
        p {
            color: $blue;
            font-size: 1rem;
            margin: 0 0 2rem 0;
            height: 5rem;
            overflow: hidden;
        }
        button {
            background-image: linear-gradient(to right, $purple 0%, $blue  51%, $purple  100%);
            margin-bottom: 0.5rem;
            padding: 15px 45px;
            text-align: center;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            border: none;   
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;     
            &:hover {
                background-position: right center; /* change the direction of the change here */
                color: #fff;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}

// Create page

.form_container {
    margin: 0 2rem 5rem;
    border-radius: 2rem;
    background-color: white;
    .form {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        form {
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: flex-start;
            .field {
                display: contents;
                .label-text {
                    text-align: left;
                    font-weight: normal;  
                    color: white;
                    color: $purple;
                    font-weight: bold;
                    font-size: 1.25rem;
                    margin-bottom: 0.5rem;
                }
            }
            input {
                font-family: 'Poppins', sans-serif;
                font-weight: normal;  
                font-size: 1rem;
                color: black;
                background-color: rgb(209, 209, 209);
                border: none;
                border-radius: 0.5rem;
                margin-bottom: 1rem;
                min-height: 3rem;
                height: max-content;
            }
            textarea {
                font-family: 'Poppins', sans-serif;
                height: 15rem;
                font-weight: normal;  
                font-size: 1rem;
                background-color: rgb(209, 209, 209);
                color: black;
                border: none;
                border-radius: 0.5rem;
                margin-bottom: 1rem;
            }
            button {
                background-image: linear-gradient(to right, $purple 0%, $blue  51%, $purple  100%);
                padding: 15px 45px;
                margin-top: 2rem;
                text-align: center;
                transition: 0.5s;
                background-size: 200% auto;
                color: white;            
                box-shadow: 0 0 20px #eee;
                border-radius: 10px;
                border: none;   
                font-family: 'Poppins', sans-serif;
                font-size: 1rem;     
                &:hover {
                    background-position: right center; /* change the direction of the change here */
                    color: #fff;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
}

// Single project page

.single_project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20rem 5rem;
    border: solid 1px $purple;
    border-radius: 1rem;
    .project_banner_container {
        width: 100%;
        img {
            width: 100%;
            height: 50vh;
            object-fit: cover;
            border-radius: 1rem;
        }
    }
    .project_details_container {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 0;
        margin: 0;
        width: 100%;
        .col_1 {
            width: 70%;
            margin: 0 1rem;
            h3 {
                color: $blue;
                font-size: 1.5rem;
                font-weight: bold;
                margin: 2rem 0 1rem 0;
                height: fit-content;
                overflow: hidden;
            }
            p {
                color: $blue;
                font-size: 1rem;
                margin: 0 0 1rem 0;
                height: fit-content;
                overflow: hidden;
            }
        }
        .col_2 {
            width: 30%;
            margin: 0 1rem;
            form {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-content: flex-start;
                input {
                    font-family: 'Poppins', sans-serif;
                    font-weight: normal;  
                    font-size: 1rem;
                    color: black;
                    background-color: rgb(209, 209, 209);
                    border: none;
                    border-radius: 0.5rem;
                    height: 2rem;
                    margin-bottom: 0.5rem;
                }
                button {
                    background-image: linear-gradient(to right, $purple 0%, $blue  51%, $purple  100%);
                    padding: 15px 45px;
                    text-align: center;
                    transition: 0.5s;
                    background-size: 200% auto;
                    color: white;            
                    box-shadow: 0 0 20px #eee;
                    border-radius: 10px;
                    border: none;   
                    font-family: 'Poppins', sans-serif;
                    font-size: 1rem;     
                    margin-bottom: 1rem;
                    &:hover {
                        background-position: right center; /* change the direction of the change here */
                        color: #fff;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
            }
        }    
    }
    
}




