<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
    </style>
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
    
    <footer>
        <h5>Made by Group 5 &#128170;</h5>
        <p>Özge Nur Yagli, Minh Tu, Shuo Liu, I-hsun Chien, and Johann Meffert</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="{{ url_for('static', filename='base.js') }}" type="module"></script>
</body>
</html>