{% extends 'base.html' %}

{% block head %}
<title>Create your project</title>
{% endblock %}

{% block body %}

<div class="nav">
    <a class="logo" href="/">W3Bstarter</a>
    <nav>
        <a href="/">Home</a>
        <a href="/view">Projects</a>
        <a href="/create">Create</a>
        <button class="connect_wallet_1">Connect Wallet</button>
    </nav>
</div>

<div class="h2_container">
    <h2>
        Create project
    </h2>
    <p>
        Create your project and get funded now!
    </p>
</div>

<div class="form_container">
    <div class="form">
        <form method="post" id="create_form">
            <label for="project_name" class="field"><span class="label-text">Project name:</span></label>
            <input type="text" id="project_name" name="project_name"> 
            
            <label for="project_description" class="field"><span class="label-text">Project description:</span></label>
            <textarea name="project_description" id="project_description"></textarea>
            
            <label for="project_fund" class="field"><span class="label-text">Funding needed (ETH):</span></label>
            <input type="number" id="project_fund" name="project_fund">
            
            <label for="project_milestones" class="field"><span class="label-text">Milestones:</span></label>
            <input type="text" id="project_milestones" name="project_milestones">
            
            <button type="submit" id="create_button">Create Project</button>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<script src="{{ url_for('static', filename='create-pj.js') }}" type="module"></script>

{% endblock %}