{% extends 'base.html' %}

{% block head %}
<title>W3Bstarter</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
</style>
{% endblock %}

{% block body %}

<div class="nav">
    <a class="logo" href="/">W3Bstarter</a>
    <nav>
        <a href="/">Home</a>
        <a href="">Projects</a>
        <a href="">Portfolio</a>
        <button class="connect_wallet_1">Connect Wallet</button>
    </nav>
</div>

<div class="hero">
    <h1>    
        Create Projects, Get Funded!&#128526;
    </h1>
    <p>
        Transparent & Secured Web3 Crowdfunding 
    </p>
    <button class="connect_wallet_2">Connect Wallet</button>
</div>

<div class="featured_projects">
    <div class="featured_project">
        <img src="{{ url_for('static', filename='Project_1.jpg') }}" alt="">
        <h2>This is a project</h2>
        <p>This is a super long description which can help people understand what this project is all about</p>
    </div>
    <div class="featured_project">
        <img src="{{ url_for('static', filename='Project_2.jpg') }}" alt="">
        <h2>This is a project</h2>
        <p>This is a super long description which can help people understand what this project is all about</p>
    </div>
    <div class="featured_project">
        <img src="{{ url_for('static', filename='Project_3.jpg') }}" alt="">
        <h2>This is a project</h2>
        <p>This is a super long description which can help people understand what this project is all about</p>
    </div>
</div>

<div class="create_new_project">
    <div class="title_container">
        <h1>Create new project</h1>
    </div>
    <div class="form">
        <form method="post">
            <label for="project_name" class="field">
                <span class="label-text">Project name:</span>
                <input type="text" id="project_name" name="project_name"> 
            </label>
            <label for="project_description" class="field">
                <span class="label-text">Project description:</span>
                <textarea name="project_description" id="project_description"></textarea>
            </label>
            <label for="project_fund" class="field">
                <span class="label-text">Funding needed:</span>
                <input type="text" id="project_fund" name="project_fund">
            </label>
            <label for="project_milestones" class="field">
                <span class="label-text">Milestones:</span>
                <input type="text" id="project_milestones" name="project_milestones">
            </label>
            <label class="field">
                <span></span>
                <button type="submit" id="create_button">Create Project</button>
            </label>
        </form>
    </div>
</div>

{% endblock %}