{% extends 'base.html' %}

{% block head %}
<title>W3Bstarter</title>
{% endblock %}

{% block body %}

<div class="nav">
    <a class="logo" href="/">W3Bstarter</a>
    <nav>
        <a href="/">Home</a>
        <a href="/view">Projects</a>
        <a href="/create">Create</a>
        <button class="connect_wallet_1">Connect Wallet</button>
    </nav>
</div>

<div class="hero">
    <h1>    
        Create Projects, Get Funded!&#128526;
    </h1>
    <p>
        Transparent & Secured Web3 Crowdfunding 
    </p>
    <button class="connect_wallet_2">Connect Wallet</button>
</div>

<div class="featured_projects">
    <div class="featured_project featured_project_1">
        <div class="text">
            <h2>This is a project</h2>
            <p>This is a super long description which can help people understand what this project is all about</p>    
        </div>
        <div class="button">
            <button class="view_project">View more</button>
        </div>
    </div>
    <div class="featured_project featured_project_2">
        <div class="text">
            <h2>This is a project</h2>
            <p>This is a super long description which can help people understand what this project is all about</p>    
        </div>
        <div class="button">
            <button class="view_project">View more</button>
        </div>
    </div>
    <div class="featured_project featured_project_3">
        <div class="text">
            <h2>This is a project</h2>
            <p>This is a super long description which can help people understand what this project is all about</p>    
        </div>
        <div class="button">
            <button class="view_project">View more</button>
        </div>
    </div>
    <div class="featured_project featured_project_4">
        <div class="text">
            <h2>This is a project</h2>
            <p>This is a super long description which can help people understand what this project is all about</p>    
        </div>
        <div class="button">
            <button class="view_project">View more</button>
        </div>
    </div>
</div>

<div class="buttons">
    <button class="view_all">All projects</button>
    <button class="create_project">Create project</button>
</div>




{% endblock %}